PORT=5000
DB_DIALECT=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=Civica
DB_USER=root
DB_PASSWORD=root123
JWT_SECRET=civica_super_secret_jwt_key_2024
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
AI_SERVICE_URL=http://127.0.0.1:5001
